.widgets{
    display: flex;
    position: fixed;
    top: 30;
    right: -1px;
    flex-direction: column;
    /* margin-left: -2px; */
    /* justify-content:space-between; */
    background-color: white;
    /* border-radius: 15px; */
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    /* justify-content: center; */
    
}

.widgets__one{
    display: flex;

    
   
    
}
